<article class="c-slider__item is-prev" data-slide="8">
  <div class="c-slider__item--background-load-wrap">
    <div class="c-slider__item--background">
      <div class="c-slider__item--image-wrap">
        <div class="c-slider__item--image" style="background-image: url('assets/images/last.jpg');"></div>
      </div>
    </div>
  </div>
  <div class="c-slider__item--text-load">
    <div class="c-slider__item--text" data-article="8">
      <h4 class="c-slider__item--heading">May the UX be with you !</h4>
      <a class="c-slider__item--subheading">
        <p><span>à propos</span></p>
      </a>
    </div>
  </div>
</article>
