<article class="c-slider__item is-prev" data-slide="7">
  <div class="c-slider__item--background-load-wrap">
    <div class="c-slider__item--background">
      <div class="c-slider__item--image-wrap">
        <div class="c-slider__item--image" style="background-image: url('assets/images/offboarding.jpg');"></div>
      </div>
    </div>
  </div>
  <div class="c-slider__item--text-load">
    <div class="c-slider__item--text" data-article="7">
      <h4 class="c-slider__item--heading">Soigner son offboarding</h4>
      <a class="c-slider__item--subheading">
        <p><span>Découvrir  l'article</span></p>
      </a>
    </div>
  </div>
</article>
