<section id="slider" class="c-slider">
  <div class="tutorial_touch"></div>
  <include src="./slider_item/item_01.html"></include>
  <include src="./slider_item/item_02.html"></include>
  <include src="./slider_item/item_03.html"></include>
  <include src="./slider_item/item_04.html"></include>
  <include src="./slider_item/item_05.html"></include>
  <include src="./slider_item/item_06.html"></include>
  <include src="./slider_item/item_07.html"></include>
  <include src="./slider_item/item_08.html"></include>
  <include src="./slider_item/item_09.html"></include>
</section>
<div class="c-nav">
  <div class="c-nav__controls c-nav__controls-load">
    <button id="slider_prev" data-direction="prev" data-slide="8" class="c-nav__controls--button c-nav__controls--left c-button" type="button">
      <span>
        <svg class="c-button_icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/svg/sprite.svg#arrow-prev"></use></svg>
      </span>
    </button>
    <button id="slider_next" data-direction="next" data-slide="1" class="c-nav__controls--button c-nav__controls--right c-button" type="button">
      <span>
        <svg class="c-button_icon" role="img"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="assets/images/svg/sprite.svg#arrow-next"></use></svg>
      </span>
    </button>
  </div>
</div>
<nav class="c-timeline">
  <div class="c-timeline--state c-pager-load">
    <ul class="pager">
      <li class="c-timeline__item" data-pager="0"></li>
      <li class="c-timeline__item" data-pager="1"></li>
      <li class="c-timeline__item" data-pager="2"></li>
      <li class="c-timeline__item" data-pager="3"></li>
      <li class="c-timeline__item" data-pager="4"></li>
      <li class="c-timeline__item" data-pager="5"></li>
      <li class="c-timeline__item" data-pager="6"></li>
      <li class="c-timeline__item" data-pager="7"></li>
      <li class="c-timeline__item" data-pager="8"></li>
    </ul>
  </div>
</nav>
<p class="c-count"><span id="current_slide">1</span>/9</p>
