<div class="c-splash">
  <div class="c-splash__content">
    <img class="c-icon" src="./assets/images/svg/logo_ux-republic.svg"/>
    <h1 class="c-title">Tendances 2017</h1>
    <p class="c-text">Hello ! Dans quelques jours, nous basculons en 2017.<br />
    C’est l’occasion de faire un  panorama des tendances à venir en UX Design.<br />
    Et elles sont très nombreuses !<br />
    Et comme on aime partager, nous avons fait une sélection des tendances les plus prometteuses...<br />
    Let’s design and empathy for the user !</p>
    <a id="launch_trends" class="c-splash__link">
      <p><span>Découvrir les tendances</span></p>
    </a>
  </div>
</div>
